@font-face {
  font-family: Didot;
  src: url(Antic_Didone/AnticDidone-Regular.ttf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 20px;
  background: #064380;
  color: white;
  display: inline-block;
  width: 98%;
  justify-self: normal;
}

h1 {
  text-align: left;
  float: left;
  font-family: Didot;
  font-weight: bold;
}

h2 {
  text-align: center;
  float: center;
  font-family: Didot;
  font-weight: bold;
  font-size: 40px;
}

p {
  color: #064380;
  font-family: Didot;
  font-size: 25px;
  text-align: left;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#submit {
  background-color: #064380;
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #eaa88f;
  font-family: "Oswald";
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #eaa88f;
  float: right;
  margin: 10px;
}

#submit:hover {
  border: 2px solid #eaa88f;
  background: #eaa88f;
  color: #064380;
}

#submitWhite {
  background-color: #064380;
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: white;
  font-family: "Oswald";
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #064380;
  float: right;
  margin: 10px;
}

.lineUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.long {
  padding-bottom: 45px;
  padding-right: 20px;
}

#submitWhite:hover {
  color: #6c98c4;
}

#home {
  text-align: left;
  float: left;
  font-family: Didot;
  font-weight: bold;
  border: none;
  background-color: #064380;
  color: white;
  margin: 10px;
  font-size: 35px;
  text-decoration: none;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #064380;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: grey;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
